Agent_dashboard.json
[
    {
        "id": "f2732305f1a077fd",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f9ce0437e34908be",
        "type": "ui_group",
        "name": "Info",
        "tab": "aa7cc8ad25156c0c",
        "order": 4,
        "disp": false,
        "width": 10,
        "collapse": false,
        "className": ""
    },
    {
        "id": "aa7cc8ad25156c0c",
        "type": "ui_tab",
        "name": "Faults detection",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "190d84285177c8d2",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 1,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "95a7ee1df95316fb",
        "type": "ui_group",
        "name": "Text",
        "tab": "aa7cc8ad25156c0c",
        "order": 6,
        "disp": false,
        "width": 10,
        "collapse": false,
        "className": ""
    },
    {
        "id": "1ac4102d01752fac",
        "type": "ui_group",
        "name": "Media",
        "tab": "aa7cc8ad25156c0c",
        "order": 1,
        "disp": false,
        "width": "13",
        "collapse": false,
        "className": ""
    },
    {
        "id": "c9a66f2af830e4fe",
        "type": "ui_group",
        "name": "Data",
        "tab": "aa7cc8ad25156c0c",
        "order": 7,
        "disp": false,
        "width": 13,
        "collapse": false,
        "className": ""
    },
    {
        "id": "3f01404d01de2334",
        "type": "ui_group",
        "name": "Chart",
        "tab": "aa7cc8ad25156c0c",
        "order": 5,
        "disp": false,
        "width": "10",
        "collapse": false,
        "className": ""
    },
    {
        "id": "e24ce17b1e1d430d",
        "type": "ui_group",
        "name": "LPT_HPT",
        "tab": "aa7cc8ad25156c0c",
        "order": 3,
        "disp": false,
        "width": "13",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a83b51947fff03ab",
        "type": "ui_group",
        "name": "RUL",
        "tab": "aa7cc8ad25156c0c",
        "order": 7,
        "disp": false,
        "width": 10,
        "collapse": false,
        "className": ""
    },
    {
        "id": "30fd9826dd78d3cb",
        "type": "ui_spacer",
        "z": "f2732305f1a077fd",
        "name": "spacer",
        "group": "f9ce0437e34908be",
        "order": 2,
        "width": 3,
        "height": 1
    },
    {
        "id": "da547223ecc61f99",
        "type": "ui_spacer",
        "z": "f2732305f1a077fd",
        "name": "spacer",
        "group": "f9ce0437e34908be",
        "order": 4,
        "width": 1,
        "height": 1
    },
    {
        "id": "f01b330f7672aea0",
        "type": "ui_spacer",
        "z": "f2732305f1a077fd",
        "name": "spacer",
        "group": "f9ce0437e34908be",
        "order": 5,
        "width": 3,
        "height": 1
    },
    {
        "id": "482236fbea76f9ac",
        "type": "ui_spacer",
        "z": "f2732305f1a077fd",
        "name": "spacer",
        "group": "f9ce0437e34908be",
        "order": 6,
        "width": 1,
        "height": 1
    },
    {
        "id": "ecc7cd0b34c7d952",
        "type": "ui_spacer",
        "z": "f2732305f1a077fd",
        "name": "spacer",
        "group": "f9ce0437e34908be",
        "order": 7,
        "width": 3,
        "height": 1
    },
    {
        "id": "5259a6940772e5c7",
        "type": "ui_spacer",
        "z": "f2732305f1a077fd",
        "name": "spacer",
        "group": "f9ce0437e34908be",
        "order": 8,
        "width": 1,
        "height": 1
    },
    {
        "id": "8231aae09e182640",
        "type": "ui_spacer",
        "z": "f2732305f1a077fd",
        "name": "spacer",
        "group": "f9ce0437e34908be",
        "order": 9,
        "width": 3,
        "height": 1
    },
    {
        "id": "9622fe116dbd7788",
        "type": "ui_spacer",
        "z": "f2732305f1a077fd",
        "name": "spacer",
        "group": "f9ce0437e34908be",
        "order": 10,
        "width": 1,
        "height": 1
    },
    {
        "id": "a3a5b4c52ef176d6",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "41f9fb82a6ce4638",
        "type": "mqtt in",
        "z": "f2732305f1a077fd",
        "name": "Get unit and cycle",
        "topic": "unit",
        "qos": "1",
        "datatype": "json",
        "broker": "a3a5b4c52ef176d6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 90,
        "y": 320,
        "wires": [
            [
                "4abc281d8d1f9782",
                "460e7a6ac633c9de",
                "02230c3ac528b20f",
                "86fe2e13500a5e70"
            ]
        ]
    },
    {
        "id": "4e16910fc2c40fd9",
        "type": "mqtt in",
        "z": "f2732305f1a077fd",
        "name": "Get state",
        "topic": "state",
        "qos": "1",
        "datatype": "json",
        "broker": "a3a5b4c52ef176d6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 80,
        "y": 720,
        "wires": [
            [
                "3bb84f0ab5a393e8",
                "ccff6a00f7e40c8b",
                "fdff26e33da9bf87",
                "d8ba497dc62a964b"
            ]
        ]
    },
    {
        "id": "62d1d2917140e585",
        "type": "ui_media",
        "z": "f2732305f1a077fd",
        "group": "1ac4102d01752fac",
        "name": "",
        "width": 13,
        "height": 8,
        "order": 1,
        "category": "Components",
        "file": "Structure.jpeg",
        "layout": "center",
        "showcontrols": true,
        "loop": true,
        "onstart": false,
        "scope": "local",
        "tooltip": "",
        "x": 1490,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "2b2db64ab6fd5237",
        "type": "ui_button",
        "z": "f2732305f1a077fd",
        "name": "",
        "group": "c9a66f2af830e4fe",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "Request Data",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "{\"group\":{\"hide\":[\"Faults_detection_Data\",\"Faults_detection_RUL\",\"Faults_detection_Chart\"],\"show\":[\"Faults_detection_Text\"]},\"text\":\"Waiting for data...\"}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 100,
        "y": 80,
        "wires": [
            [
                "f89dae0c4b03df80",
                "13a1346da617d76f",
                "238f6e9de2c8141b",
                "f2dae14c5d3f2468",
                "fb8f81e70f2b6be5"
            ]
        ]
    },
    {
        "id": "02230c3ac528b20f",
        "type": "ui_text",
        "z": "f2732305f1a077fd",
        "group": "f9ce0437e34908be",
        "order": 1,
        "width": 3,
        "height": 4,
        "name": "",
        "label": "Unit:",
        "format": "{{msg.payload.unit}}",
        "layout": "row-spread",
        "className": "",
        "x": 1270,
        "y": 420,
        "wires": []
    },
    {
        "id": "86fe2e13500a5e70",
        "type": "ui_text",
        "z": "f2732305f1a077fd",
        "group": "f9ce0437e34908be",
        "order": 3,
        "width": 3,
        "height": 4,
        "name": "",
        "label": "Cycle:",
        "format": "{{msg.payload.cycle}}",
        "layout": "row-spread",
        "className": "",
        "x": 1470,
        "y": 500,
        "wires": []
    },
    {
        "id": "238f6e9de2c8141b",
        "type": "ui_text",
        "z": "f2732305f1a077fd",
        "group": "95a7ee1df95316fb",
        "order": 1,
        "width": 10,
        "height": 4,
        "name": "Text",
        "label": "",
        "format": "{{msg.payload.text}}",
        "layout": "row-center",
        "className": "",
        "x": 1270,
        "y": 140,
        "wires": []
    },
    {
        "id": "c3c7bd99c87d1556",
        "type": "inject",
        "z": "f2732305f1a077fd",
        "name": "Start",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"group\":{\"hide\":[\"Faults_detection_LPT_HPT\",\"Faults_detection_Chart\",\"Faults_detection_RUL\"],\"show\":[\"Faults_detection_Media\",\"Faults_detection_Text\",\"Faults_detection_Data\"]},\"text\":\"Click the button below for acquiring data\",\"unit\":\"\",\"cycle\":\"\"}",
        "payloadType": "json",
        "x": 1250,
        "y": 300,
        "wires": [
            [
                "238f6e9de2c8141b",
                "02230c3ac528b20f",
                "86fe2e13500a5e70",
                "49d48d39949dc924",
                "8f40d0bb17ddc507"
            ]
        ]
    },
    {
        "id": "f89dae0c4b03df80",
        "type": "trigger",
        "z": "f2732305f1a077fd",
        "name": "Wait 20 sec for data",
        "op1": "",
        "op2": "{\"group\":{\"show\":\"Faults_detection_Data\"},\"text\":\"Click the button below for acquiring data\"}",
        "op1type": "nul",
        "op2type": "json",
        "duration": "20",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 380,
        "y": 160,
        "wires": [
            [
                "238f6e9de2c8141b",
                "5e3772bccb6056ea",
                "0a6583d0a2b6d602"
            ]
        ]
    },
    {
        "id": "4abc281d8d1f9782",
        "type": "change",
        "z": "f2732305f1a077fd",
        "name": "Disable trigger",
        "rules": [
            {
                "t": "set",
                "p": "reset",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "payload.text",
                "pt": "msg",
                "to": "Analysis in progress...",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 280,
        "wires": [
            [
                "f89dae0c4b03df80",
                "238f6e9de2c8141b"
            ]
        ]
    },
    {
        "id": "d5934a6cd2d625b3",
        "type": "change",
        "z": "f2732305f1a077fd",
        "name": "Show get data button",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"group\":{\"show\":\"Faults_detection_Data\"}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 900,
        "wires": [
            [
                "63f2f969d49ee35b"
            ]
        ]
    },
    {
        "id": "de39d5411f139719",
        "type": "ui_toast",
        "z": "f2732305f1a077fd",
        "position": "top right",
        "displayTime": "3",
        "highlight": "blue",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "Info",
        "x": 830,
        "y": 60,
        "wires": []
    },
    {
        "id": "13a1346da617d76f",
        "type": "change",
        "z": "f2732305f1a077fd",
        "name": "Notification Request sent",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Request sent",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Info",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 570,
        "y": 20,
        "wires": [
            [
                "de39d5411f139719",
                "5b926977b9a4d926"
            ]
        ]
    },
    {
        "id": "5e3772bccb6056ea",
        "type": "change",
        "z": "f2732305f1a077fd",
        "name": "Notification No data",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "No data available! Please try again later",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Warning",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 600,
        "y": 200,
        "wires": [
            [
                "0e3ac617e3784a4e"
            ]
        ]
    },
    {
        "id": "0e3ac617e3784a4e",
        "type": "ui_toast",
        "z": "f2732305f1a077fd",
        "position": "top right",
        "displayTime": "3",
        "highlight": "yellow",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "Warning",
        "x": 780,
        "y": 180,
        "wires": []
    },
    {
        "id": "aedfc1e0e9be3234",
        "type": "ui_toast",
        "z": "f2732305f1a077fd",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "red",
        "sendall": true,
        "outputs": 1,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "Info",
        "x": 630,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "cc73ea85cce0126e",
        "type": "ui_toast",
        "z": "f2732305f1a077fd",
        "position": "top right",
        "displayTime": "3",
        "highlight": "green",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "Success",
        "x": 760,
        "y": 820,
        "wires": []
    },
    {
        "id": "49d48d39949dc924",
        "type": "ui_ui_control",
        "z": "f2732305f1a077fd",
        "name": "",
        "events": "change",
        "x": 1400,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "975ac55b2a171842",
        "type": "ui_toast",
        "z": "f2732305f1a077fd",
        "position": "top right",
        "displayTime": "3",
        "highlight": "orange",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "Alert",
        "x": 730,
        "y": 780,
        "wires": []
    },
    {
        "id": "63f2f969d49ee35b",
        "type": "ui_ui_control",
        "z": "f2732305f1a077fd",
        "name": "",
        "events": "all",
        "x": 600,
        "y": 900,
        "wires": [
            []
        ]
    },
    {
        "id": "fdff26e33da9bf87",
        "type": "change",
        "z": "f2732305f1a077fd",
        "name": "Display Chart",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"group\":{\"hide\":\"Faults_detection_Text\",\"show\":\"Faults_detection_Chart\"}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 840,
        "wires": [
            [
                "63f2f969d49ee35b"
            ]
        ]
    },
    {
        "id": "771a900e25562324",
        "type": "ui_media",
        "z": "f2732305f1a077fd",
        "group": "e24ce17b1e1d430d",
        "name": "Failure LPT-HPT",
        "width": 13,
        "height": 8,
        "order": 1,
        "category": "Components",
        "file": "LPT_HPT.png",
        "layout": "adjust",
        "showcontrols": true,
        "loop": true,
        "onstart": false,
        "scope": "local",
        "tooltip": "",
        "x": 1480,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "183ab271a28ddc13",
        "type": "change",
        "z": "f2732305f1a077fd",
        "name": "Update image",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"group\":{\"hide\":[\"Faults_detection_Media\"],\"show\":[\"Faults_detection_LPT_HPT\",\"Faults_detection_RUL\"]}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 600,
        "y": 660,
        "wires": [
            [
                "c5316075511677af"
            ]
        ]
    },
    {
        "id": "ccff6a00f7e40c8b",
        "type": "function",
        "z": "f2732305f1a077fd",
        "name": "Check if failure",
        "func": "let state = msg.payload.state;\n\n// If failure detected\nif (flow.get('failure_unit') == flow.get('unit')){\n    msg.payload = 'Failure detected!';\n    msg.topic = 'Danger';\n    return [ , msg,  ,  ]\n}\n\n// If state == 0\nelse if (! state) {\n    flow.set('counts', flow.get('counts') + 1)\n\n    if (flow.get('counts') == flow.get('failure_count')){\n        flow.set('counts', 0)\n        flow.set('failure_unit', flow.get('unit'))\n        msg.payload = 'Failure detected!';\n        msg.topic = 'Danger';\n        return [msg,  ,  ,  ]\n    }\n    msg.payload = 'Possible failure detected!';\n    msg.topic = 'Alert';\n    return [ ,  , msg,  ]\n}\n\n// If state == 1\nelse if (state) {\n    flow.set('counts', 0)\n    msg.payload = 'No failure detected!';\n    msg.topic = 'Success';\n    return [ , , , msg ]\n}",
        "outputs": 4,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 720,
        "wires": [
            [
                "183ab271a28ddc13",
                "58a464eaa69a539b",
                "5023f17e3ddfb852"
            ],
            [
                "5023f17e3ddfb852"
            ],
            [
                "975ac55b2a171842"
            ],
            [
                "cc73ea85cce0126e"
            ]
        ]
    },
    {
        "id": "8f40d0bb17ddc507",
        "type": "change",
        "z": "f2732305f1a077fd",
        "name": "Set failure and first label and unit",
        "rules": [
            {
                "t": "set",
                "p": "failure_count",
                "pt": "flow",
                "to": "3",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "counts",
                "pt": "flow",
                "to": "0",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "unit",
                "pt": "flow",
                "to": "0",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "failure_unit",
                "pt": "flow",
                "to": "0",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "health",
                "pt": "flow",
                "to": "0",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "fault",
                "pt": "flow",
                "to": "0",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "warning",
                "pt": "flow",
                "to": "0",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "alarm",
                "pt": "flow",
                "to": "0",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "danger",
                "pt": "flow",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1680,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "58a464eaa69a539b",
        "type": "change",
        "z": "f2732305f1a077fd",
        "name": "Notification Dialog",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "A failure in the LPT and HPT components were detected!",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Danger",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 870,
        "y": 680,
        "wires": [
            [
                "5dba1d12befdcfe7"
            ]
        ]
    },
    {
        "id": "4e65629fa2bb3849",
        "type": "ui_button",
        "z": "f2732305f1a077fd",
        "name": "",
        "group": "a83b51947fff03ab",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Check RUL",
        "tooltip": "",
        "color": "black",
        "bgcolor": "RGB(246, 190, 0)",
        "className": "",
        "icon": "",
        "payload": "{\"group\":{\"hide\":[\"Faults_detection_Data\",\"Faults_detection_RUL\",\"Faults_detection_Chart\"],\"show\":[\"Faults_detection_Text\"]},\"text\":\"Analysis in progress...\"}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 410,
        "y": 320,
        "wires": [
            [
                "a78ce860b4addb9f",
                "238f6e9de2c8141b",
                "8f07aaa3ede68ecf",
                "131751b38fc18a8d"
            ]
        ]
    },
    {
        "id": "3bb84f0ab5a393e8",
        "type": "function",
        "z": "f2732305f1a077fd",
        "name": "Show buttons",
        "func": "if (flow.get('unit') == flow.get('failure_unit')) {\n    msg.payload = {\n        \"group\": {\n            \"show\": [\n                \"Faults_detection_Data\",\n                \"Faults_detection_RUL\"\n            ]\n        },\n    }\n}\n\n\nelse{\n    msg.payload = {\n        \"group\": {\n            \"show\": \"Faults_detection_Data\"\n        }\n    }\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 640,
        "wires": [
            [
                "c5316075511677af"
            ]
        ]
    },
    {
        "id": "460e7a6ac633c9de",
        "type": "function",
        "z": "f2732305f1a077fd",
        "name": "New Unit",
        "func": "if (! flow.get('unit')){\n    flow.set('unit', msg.payload.unit)\n}\n\nelse if (msg.payload.unit != flow.get('unit')){\n    flow.set('failure_unit', 0)\n    flow.set('health', 0)\n    flow.set('fault', 0)\n    flow.set('warning', 0)\n    flow.set('alarm', 0)\n    flow.set('danger', 0)\n    flow.set('unit', msg.payload.unit)\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 120,
        "y": 560,
        "wires": [
            [
                "80a13fcc50fa7317",
                "3584173cf9bb2386"
            ]
        ]
    },
    {
        "id": "1c0c21d219c10165",
        "type": "mqtt in",
        "z": "f2732305f1a077fd",
        "name": "Get RUL",
        "topic": "rul",
        "qos": "1",
        "datatype": "json",
        "broker": "a3a5b4c52ef176d6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 60,
        "y": 960,
        "wires": [
            [
                "d5934a6cd2d625b3",
                "fdff26e33da9bf87",
                "20cf6bf2bdc3ebbd",
                "77c837bfe6ff78ce"
            ]
        ]
    },
    {
        "id": "131751b38fc18a8d",
        "type": "mqtt out",
        "z": "f2732305f1a077fd",
        "name": "Publish request rul",
        "topic": "prognostics",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "a3a5b4c52ef176d6",
        "x": 550,
        "y": 440,
        "wires": []
    },
    {
        "id": "a78ce860b4addb9f",
        "type": "change",
        "z": "f2732305f1a077fd",
        "name": "Notification RUL sent",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "RUL request sent",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Info",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 820,
        "y": 300,
        "wires": [
            [
                "701b331c43233e15",
                "5b926977b9a4d926"
            ]
        ]
    },
    {
        "id": "701b331c43233e15",
        "type": "ui_toast",
        "z": "f2732305f1a077fd",
        "position": "top right",
        "displayTime": "3",
        "highlight": "blue",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "Info",
        "x": 1050,
        "y": 340,
        "wires": []
    },
    {
        "id": "20cf6bf2bdc3ebbd",
        "type": "switch",
        "z": "f2732305f1a077fd",
        "name": "",
        "property": "payload.rul",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "2",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 3,
        "x": 150,
        "y": 1080,
        "wires": [
            [
                "e346310a5158f18f"
            ],
            [
                "902307b9c949facf"
            ],
            [
                "51f9ccc8f5990a00"
            ]
        ]
    },
    {
        "id": "e346310a5158f18f",
        "type": "change",
        "z": "f2732305f1a077fd",
        "name": "RUL >= 30 (2)",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "At least 30 cycles remaining",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Warning",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 1020,
        "wires": [
            [
                "ea953f23bde6e435"
            ]
        ]
    },
    {
        "id": "ea953f23bde6e435",
        "type": "ui_toast",
        "z": "f2732305f1a077fd",
        "position": "top right",
        "displayTime": "3",
        "highlight": "yellow",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "Warning",
        "x": 620,
        "y": 1000,
        "wires": []
    },
    {
        "id": "902307b9c949facf",
        "type": "change",
        "z": "f2732305f1a077fd",
        "name": "RUL >= 15 (1)",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "At least 15 cycles remaining",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Alarm",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 1060,
        "wires": [
            [
                "cd62206ab7b50964"
            ]
        ]
    },
    {
        "id": "cd62206ab7b50964",
        "type": "ui_toast",
        "z": "f2732305f1a077fd",
        "position": "top right",
        "displayTime": "3",
        "highlight": "orange",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "Alarm",
        "x": 630,
        "y": 1040,
        "wires": []
    },
    {
        "id": "51f9ccc8f5990a00",
        "type": "change",
        "z": "f2732305f1a077fd",
        "name": "RUL >= 0 (0)",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Vey few cycles remaining",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Danger",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 350,
        "y": 1100,
        "wires": [
            [
                "04625a9a7aea93c7"
            ]
        ]
    },
    {
        "id": "04625a9a7aea93c7",
        "type": "ui_toast",
        "z": "f2732305f1a077fd",
        "position": "top right",
        "displayTime": "3",
        "highlight": "red",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "Danger",
        "x": 620,
        "y": 1100,
        "wires": []
    },
    {
        "id": "3584173cf9bb2386",
        "type": "change",
        "z": "f2732305f1a077fd",
        "name": "Notification New Unit",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "A new unit is available!",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Info",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 520,
        "wires": [
            [
                "aedfc1e0e9be3234"
            ]
        ]
    },
    {
        "id": "80a13fcc50fa7317",
        "type": "change",
        "z": "f2732305f1a077fd",
        "name": "Return image",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"group\":{\"hide\":[\"Faults_detection_LPT_HPT\"],\"show\":\"Faults_detection_Media\"}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 580,
        "wires": [
            [
                "c5316075511677af"
            ]
        ]
    },
    {
        "id": "0a6583d0a2b6d602",
        "type": "ui_ui_control",
        "z": "f2732305f1a077fd",
        "name": "",
        "events": "change",
        "x": 560,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "5dba1d12befdcfe7",
        "type": "ui_toast",
        "z": "f2732305f1a077fd",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "red",
        "sendall": true,
        "outputs": 1,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "Danger message",
        "x": 890,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "c5316075511677af",
        "type": "ui_ui_control",
        "z": "f2732305f1a077fd",
        "name": "",
        "events": "change",
        "x": 660,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "8f07aaa3ede68ecf",
        "type": "ui_ui_control",
        "z": "f2732305f1a077fd",
        "name": "",
        "events": "change",
        "x": 660,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "5023f17e3ddfb852",
        "type": "ui_toast",
        "z": "f2732305f1a077fd",
        "position": "top right",
        "displayTime": "3",
        "highlight": "red",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "Danger",
        "x": 720,
        "y": 720,
        "wires": []
    },
    {
        "id": "f2dae14c5d3f2468",
        "type": "mqtt out",
        "z": "f2732305f1a077fd",
        "name": "Publish request for state",
        "topic": "request",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "a3a5b4c52ef176d6",
        "x": 130,
        "y": 180,
        "wires": []
    },
    {
        "id": "f008bf4901211ac1",
        "type": "ui_chart",
        "z": "f2732305f1a077fd",
        "name": "",
        "group": "3f01404d01de2334",
        "order": 2,
        "width": 10,
        "height": 4,
        "label": "",
        "chartType": "bar",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "80",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#008000",
            "#ff0000",
            "#ffff00",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1150,
        "y": 820,
        "wires": [
            []
        ]
    },
    {
        "id": "d8ba497dc62a964b",
        "type": "function",
        "z": "f2732305f1a077fd",
        "name": "State",
        "func": "let state = msg.payload.state;\n\nif (state == 0){\n    flow.set('fault', flow.get('fault') + 1)\n}\nelse\n    flow.set('health', flow.get('health') + 1)\n\nlet max = Math.max(flow.get('health'), flow.get('fault'))\nmsg.payload = [{\n    \"series\": [\"Number of cycles\"],\n    \"data\": [flow.get('health'), flow.get('fault')],\n    \"labels\": [\"Healthy state\", \"Faulty state\"]\n}];\nmsg.ui_control = { \"ymax\": max }\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 860,
        "wires": [
            [
                "f008bf4901211ac1"
            ]
        ]
    },
    {
        "id": "5b926977b9a4d926",
        "type": "function",
        "z": "f2732305f1a077fd",
        "name": "Reset chart",
        "func": "msg.payload = []\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1110,
        "y": 20,
        "wires": [
            [
                "f008bf4901211ac1"
            ]
        ]
    },
    {
        "id": "77c837bfe6ff78ce",
        "type": "function",
        "z": "f2732305f1a077fd",
        "name": "RUL",
        "func": "let rul = msg.payload.rul;\n\nif (rul == 2) {\n    flow.set('warning', flow.get('warning') + 1)\n}\nif (rul == 1) {\n    flow.set('alarm', flow.get('alarm') + 1)\n}\nif (rul == 0){\n    flow.set('danger', flow.get('danger') + 1)\n}\n\nlet max = Math.max(flow.get('warning'), flow.get('alarm'), flow.get('danger'))\nmsg.payload = [{\n    \"series\": [\"Number of cycles\"],\n    \"data\": [flow.get('warning'), flow.get('alarm'), flow.get('danger')],\n    \"labels\": [\"Warning\", \"Alarm\", \"Danger\"]\n}];\nmsg.ui_control = { \"ymax\": max }\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 940,
        "wires": [
            [
                "f008bf4901211ac1"
            ]
        ]
    },
    {
        "id": "fb8f81e70f2b6be5",
        "type": "ui_ui_control",
        "z": "f2732305f1a077fd",
        "name": "",
        "events": "change",
        "x": 260,
        "y": 20,
        "wires": [
            []
        ]
    },
    {
        "id": "6475f1b6dee4dba6",
        "type": "inject",
        "z": "f2732305f1a077fd",
        "d": true,
        "name": "Testing",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "10",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 80,
        "y": 40,
        "wires": [
            [
                "2b2db64ab6fd5237"
            ]
        ]
    }
]